@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
font-family: 'Architects Daughter', cursivee;
}
body {
    background-color: white;
}

#loginForm{
    position: absolute;
    left: 30%;
    top: 40%;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: black;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.blueRow {
    background-color: lightblue;
    color: grey;
}

.whiteForm {
    background-color: whitesmoke;
    color: black;
    border: black;
}

footer {
    background-color: darkgray;
    color: whitesmoke;
}