<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />

		<link rel="stylesheet" href="style.css" />

		<title>Vielen Dank</title>
	</head>
	<body class="blueRow">
		<header id="header">
			<nav class="navbar navbar-expand-md fixed-top bg-light navbar-light">
				<!--Logo-->
				<a class="navbar-brand" href="/">
					<img src="Bilder/logo.jpg" alt="" width="60" />
				</a>

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#collapsibleNavbar"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="#anfrage">Anfrage</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#vorteile">Vorteile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#ueber_uns">Über uns </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#referenzen">Referenzen </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#kontakt">Kontakt</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<body class="blueRow">
			<h1 class="mt-5">Admin Dashboard</h1>
			<table class="table table-bordered mt-5 whiteForm" id="dataTable">
				<tr>
					<th>Name</th>
					<th>PLZ</th>
					<th>Entfernung</th>
					<th>Telefon</th>
					<th>Datum</th>
					<th>Packungen</th>
					<th>Schwertransport</th>
					<th>Bearbeiten</th>
				</tr>
				
			</table>
		</body>


		<footer>
			<div class="text-center">
				<img src="Bilder/logo.jpg" alt="logo" height="100" />
				<a href="agb">AGB</a>
				<a href="impressum">Impressum</a>
			</div>
		</footer>
	</body>
</html>
